/* CSS declarations go here */

.lockedOut-history-table {
  border: 1px solid black;
}

.lockedOut-history-table td {
  border-left: 1px solid black;
  padding: 5px;
}

.lockedOut-history-table th {
  font-weight: bold;
  font-size: 16px;
}

td.createdAt {
  color: red;
}

td.claimedAt {
  color: green;
}

td.closedAt {
  color: gray;
}

tr.cancelled {
  text-decoration: line-through;
}